body {
    font-family: Microsoft Yahei, verdana, helvetica, arial, sans-serif;
    padding: 20px;
    font-size: 12px;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
}

table tr {
    margin: 30px;
}

a {
    text-decoration: none;
}

.demo-info {
    padding: 0 0 12px 0;
}

.demo-tip {
    display: none;
}

.label-top {
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}

ol, ul {
    list-style: none;
}

/**
 * menu-list
 */
.sys-menu {
    position: absolute;
    z-index: 15000;
    right: 1px;
    top: 29px;
    border: 1px solid #718bb7;
}

.sys-menu a {
    text-decoration: none;
}

/**
 * easyui-layout
 */
.easyui-layout #northLayout {
    height: 85px;
    overflow-y: hidden;
    background: #daeef5;
}

.easyui-layout #southLayout {
    height: 30px;
    background: #daeef5;
}

.easyui-layout #southLayout span {
    height: 20px;
    width: 25%;
    display: block;
    line-height: 20px;
    margin: 0 auto;
}

.easyui-layout #westLayout {
    width: 179px;
}
.head{
    height: 80px;
    background: transparent url('../images/mainframe/head_bg.gif') repeat-x scroll left top;
}

.top{
    height: 80px;
    margin: 0 20px;
    background: transparent url('../images/mainframe/logo.png') no-repeat scroll left top;
}

.topnav{
    width: 439px;
    padding-top: 5px;
    background: transparent url('../images/mainframe/head_la.gif') no-repeat ;
    float: right;
    height: 27px;
    text-align: center;
    font-size: 12px;
}

.topnav img{
    vertical-align: text-bottom;
}

.topnav a:hover {
    text-decoration: none;
    color: #F00;
}

.mainnav{
    height: 30px;
    clear: both;
    padding-top: 5px;
}

.navigation {
    float: right;
    font-family: "å®‹ä½“",arial,verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-right: 125px;
}

.navigation ul li {
    float: left;
    list-style-type: none;
}

.navigation ul li a {
    float: left;
    margin-left: 10px;
    background-image: url(../images/mainframe/bg_on.gif);
    width: 76px;
    height: 29px;
    list-style-type: none;
    text-decoration: none;
    line-height: 29px;
    text-align: center;
    color: #000;
}

.navigation ul li a:active {
    list-style-type: none;
}

.navigation ul li a:hover {
    float: left;
    line-height: 18px;
    color: #900;
    text-decoration: none;
    list-style-type: none;
    line-height: 29px;
    text-align: center;
    background-image: url(../images/mainframe/bg_off.gif);
}

.navigation ul img {
    vertical-align:text-bottom !important;
    margin-top:5px;
}

/**
 * easyui-tree
 */
.tree-title {
    padding: 0 6px;
}

.tree li {
    margin: 4px 0;
}

/**
 * easyui-form
 */
.easyui-dialog {
    width: 400px
}

form {
    margin: 0;
    padding: 20px 50px
}

form input {
    width: 240px;
}

form select {
    width: 240px;
}

form p {
    margin-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid #ccc
}

form div {
    margin-bottom: 10px
}

#form-btn a {
    width: 90px;
}

form .alarm-span {
    display: inline-block;
    margin: 5px 10px;
}

form span label {
    vertical-align: middle;
    line-height: 37px;
}

/**
 * easyui-pic-list
 */
.products {
    list-style: none;
    margin-right: 5px;
    padding: 0;
    height: 100%;
}

.products li {
    display: inline;
    float: left;
    margin: 10px;
}

.item {
    display: block;
    text-decoration: none;
}

.item img {
    max-height: 100px;
    max-width: 100px;
    text-align: center;
    border: 1px solid #333;
}

.item p {
    margin: 0;
    padding: 5px 26px;
    font-weight: bold;
    text-align: left;
    color: #c3c3c3;
}

.classifyTree {
    background: #ccc;
    padding: 0 10px;
}

/**
 * mainframe footer
 */
.about-author {
    text-align: center;
    margin: 5px auto 0;
}