.icon-chart{
	background:url('../images/icons/chart.png') no-repeat center center;
}
.icon-big-picture{
	background:url('../images/icons/large_picture1.png') no-repeat center center;
}
.icon-big-clipart{
	background:url('../images/icons/large_clipart1.png') no-repeat center center;
}
.icon-big-smartart{
	background:url('../images/icons/large_smartart1.png') no-repeat center center;
}
.icon-big-chart{
	background:url('../images/icons/large_chart1.png') no-repeat center center;
}
.icon-nopic{
	background:url('../images/nopic.png') no-repeat center center;
}
.icon-detail{
	background:url('../images/icons/detail.png') no-repeat center center;
}
.icon-folderadd {
	background:url('../images/icons/folder-add.png') no-repeat center center;
}
.icon-folder {
	background:url('../images/icons/folder.png') no-repeat center center;
}
.icon-circle {
	background:url('../images/icons/circle.png') no-repeat center center;
}
.icon-check {
	background:url('../images/icons/check.png') no-repeat center center;
}
.icon-checking {
	background:url('../images/icons/checking.png') no-repeat center center;
}
.icon-checked {
	background:url('../images/icons/checked.png') no-repeat center center;
}
.icon-move {
	background:url('../images/icons/move.png') no-repeat center center;
}
.icon-uncheck {
	background:url('../images/icons/uncheck.png') no-repeat center center;
}
.icon-checkall {
	background:url('../images/icons/checkall.png') no-repeat center center;
}
.icon-company{
	background:url('../images/icons/company.png') no-repeat center center;
}
.icon-excel{
	background:url('../images/icons/export-excel.png') no-repeat center center;
}
.icon-folder1{
	background:url('../images/icons/folder1.png') no-repeat center center;
}
.icon-folder2{
	background:url('../images/icons/folder2.png') no-repeat center center;
}
.icon-folder3{
	background:url('../images/icons/folder3.png') no-repeat center center;
}
.icon-folder4{
	background:url('../images/icons/folder4.png') no-repeat center center;
}
.icon-folder5{
	background:url('../images/icons/folder5.png') no-repeat center center;
}
.icon-folder6{
	background:url('../images/icons/folder6.png') no-repeat center center;
}
.icon-auth{
	background:url('../images/icons/auth.png') no-repeat center center;
}
.icon-blank{
	background:url('../images/icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('../images/icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('../images/icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('../images/icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('../images/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('../images/icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('../images/icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('../images/icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('../images/icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('../images/icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('../images/icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('../images/icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('../images/icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('../images/icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('../images/icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('../images/icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('../images/icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('../images/icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('../images/icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('../images/icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('../images/icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('../images/icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('../images/icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('../images/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../images/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../images/icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('../images/icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('../images/icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('../images/icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('../images/icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('../images/icons/large_chart.png') no-repeat center center;
}
